{% load static %}

<footer style="background-color: black;">
    <div class='max-w-[1240px] mx-auto py-16 px-4 grid lg:grid-cols-3 gap-8 text-gray-300'>
      <div>
        <h1 class='w-full text-3xl font-bold text-[#00df9a]'>DEPARTMENT OF CSE</h1>
        <p class='py-4'>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id odit ullam iste repellat consequatur libero reiciendis, blanditiis accusantium.</p>
        <div class='flex justify-between md:w-[75%] my-6'>
          <span class='icon'><i class="fa fa-facebook-square" style="font-size: 30px;"></i></span>
          <span class='icon'><i class="fa fa-instagram" style="font-size: 30px;"></i></span>
          <span class='icon'><i class="fa fa-twitter-square" style="font-size: 30px;"></i></span>
          <span class='icon'><i class="fa fa-github-square" style="font-size: 30px;"></i></span>
          <span class='icon'><i class="fa fa-dribbble-square" style="font-size: 30px;"></i></span>
        </div>
      </div>
      <div class='lg:col-span-2 flex justify-between mt-6'>
        <div>
          <h6 class='font-medium text-gray-400'>Solutions</h6>
          <ul>
            <li class='py-2 text-sm'>somthing</li>
            <li class='py-2 text-sm'>somthing</li>
            <li class='py-2 text-sm'>somthing</li>
            <li class='py-2 text-sm'>somthing</li>
          </ul>
        </div>
        <div>
          <h6 class='font-medium text-gray-400'>Support</h6>
          <ul>
            <li class='py-2 text-sm'>somthing</li>
            <li class='py-2 text-sm'>somthing</li>
            <li class='py-2 text-sm'>somthing</li>
            <li class='py-2 text-sm'>somthing</li>
          </ul>
        </div>
        <div>
          <h6 class='font-medium text-gray-400'>Company</h6>
          <ul>
            <li class='py-2 text-sm'>About</li>
            <li class='py-2 text-sm'>somthing</li>
            <li class='py-2 text-sm'>somthing</li>
            <li class='py-2 text-sm'>somthing</li>
            <li class='py-2 text-sm'>somthing</li>
          </ul>
        </div>
        <div>
          <h6 class='font-medium text-gray-400'>Legal</h6>
          <ul>
            <li class='py-2 text-sm'>somthing</li>
            <li class='py-2 text-sm'>Policy</li>
            <li class='py-2 text-sm'>Terms</li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  
  

