{% load static %}

<nav style="background-color: black">
  <div class="flex justify-between items-center h-24 max-w-[1240px] mx-auto px-4 text-white">
    <a href="{% url 'home' %}"><img src="{% static 'images/logo-icfai final11.png' %}" alt="Logo" class="w-40 h-50"></a>
    <ul class="nav-links md:flex">
      <a href="{% url 'home' %}"><li class="p-4">Home</li></a>
      <a href="#clubs"><li class="p-4">Clubs</li></a>
      <a href="{% url 'gallery' %}"><li class="p-4">Gallery</li></a>
      <li class="p-4">
        {% if request.user.is_authenticated %}
        <a href="{% url 'logout' %}"><button class="text-white bg-[#00df9a] py-2 px-4 rounded-md">Logout</button></a>
        {% else %}
        <a href="{% url 'login' %}"><button class="text-white bg-[#00df9a] py-2 px-4 rounded-md">Login</button></a>
        {% endif %}
      </li>
    </ul>
    <div class="menu-icon block md:hidden">
      <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <path d="M3 12h18M3 6h18M3 18h18"></path>
      </svg>
    </div>
  </div>
</nav>


<style>
  .nav-links {
    display: none;
  }
  
  .menu-icon {
    cursor: pointer;
  }
  
  @media (min-width: 768px) {
    .nav-links {
      display: flex;
    }
  
    .menu-icon {
      display: none;
    }
  }
  
</style>

<script>
  document.querySelector('.menu-icon').addEventListener('click', function() {
    document.querySelector('.nav-links').classList.toggle('md:flex');
  });
  
</script>
