{% load static %}

<div class="w-full bg-black">
   
    <div class="text-center text-5xl font-bold text-cyan-600">
        Notice and Events.
      </div>
      <div class="grid min-h-[140px] w-full place-items-center overflow-x-scroll rounded-lg p-6 lg:overflow-visible text-gray-400 body-font">
        <p class="block font-sans text-sm font-medium leading-normal text-inherit antialiased mx-5">
          
            The CSE Department's Notice and Events section keeps everyone updated on important information and upcoming activities,<br>
            fostering active participation and connectivity within the department.
        </p>
      </div>
      class="ml-5

    <div class="container mx-auto">
        <div class="flex flex-col md:flex-row">
            <div class="w-full md:w-1/2 border-black mb-8">
                <div class="bg-white p-8 h-96 rounded-lg shadow-md">
                    <div class="bg-indigo-900 border-b-2 border-gray-500 pb-2 rounded-t">
                        <h3 class="text-white font-semibold text-lg mb-2 px-4 py-2">EVENTS</h3>
                    </div>
                    <div class="h-56 overflow-y-auto">
                        <marquee direction="up" class="h-56">
                            <ul class="pl-0 list-none leading-40">

                                {% for event in events%}
                                <li class="flex items-center">
                                    <span class="mr-2">{{event.topic}}</span>
                                </li>
                                <hr class="border-b-1 border-black w-full my-1">
                                {% endfor %}

                            </ul>
                        </marquee>
                    </div>
                </div>
            </div>
            <div class="ml-5 w-full md:w-1/2 border-black mb-8">
                <div class="bg-white p-8 h-96 rounded-lg shadow-md">
                    <div class="bg-indigo-900 border-b-2 border-gray-500 pb-2 rounded-t">
                        <h3 class="text-white font-semibold text-lg mb-2 px-4 py-2">NOTICE BOARD</h3>
                    </div>
                    <div class="h-56 overflow-y-auto">
                        <ul class="pl-0  list-none leading-10">

                            {% for notice in notices%}
                            <li>
                                <span>{{notice.topic}}</span>
                            </li>
                            {% endfor %}

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>