{% load static %}

<div class="w-full mt-16 bg-white"> 
    <div class="container mx-auto">
        <div class="flex flex-col md:flex-row">
            
            <div class="w-full md:w-1/2 border-black mb-8">
                <div class="bg-white p-8 h-96 rounded-lg shadow-md">
                    <div class="bg-indigo-900 border-b-2 border-gray-500 pb-2 rounded-t">
                        <h3 class="text-white font-semibold text-lg mb-2 px-4 py-2">EVENTS</h3>
                    </div>
                    <div class="h-56 overflow-y-auto">
                        <marquee direction="up" class="h-56">
                            <ul class="pl-0 list-none leading-40">
                                <li class="flex items-center">
                                    <span class="mr-2">Don't go to college</span>
                                    <img class="w-4 inline"
                                        src="https://th.bing.com/th/id/OIP.uwH5_GhyuEaV2OyGBCxmoQHaHa?pid=ImgDet&rs=1"
                                        alt="">
                                </li>
                                <hr class="border-b-1 border-black w-full my-1">
                            </ul>
                        </marquee>
                    </div>
                </div>
            </div>

            <div class="w-full md:w-1/2 border-black">
                <div class="bg-white p-8 h-96 rounded-lg shadow-md">
                    <div class="bg-indigo-900 border-b-2 border-gray-500 pb-2 rounded-t">
                        <h3 class="text-white font-semibold text-lg mb-2 px-4 py-2">NOTICE BOARD</h3>
                    </div>
                    <div class="h-56 overflow-y-auto">
                        <ul class="pl-0 list-none leading-10">
                            <li>
                                <span class="mr-2">29 april</span>
                                <span>Hey, how are you?</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
