{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="bg-black">
  <div class="container bg-black mx-auto py-8">
    <p class="text-4xl text-white font-bold text-center mb-8">
      Our faculty
    </p>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
      <div class="card bg-white shadow-lg rounded-lg overflow-hidden">
        <div class="team-image-wrapper">
          <img class="team-member-image" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/expert1.png" alt="Faculty Member">
        </div>
        <p class="text-lg text-center font-semibold my-2">
          Davika Georgia
        </p>
        <p class="text-md text-center">
          XYZ
        </p>
        <p class="text-sm text-center my-4 ml-5">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
        <div class="flex justify-center">
          <a href="https://www.twitter.com" target="_blank" class="mr-4">
            <img class="h-6" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/Icon.svg" alt="Twitter">
          </a>
          <a href="https://www.facebook.com" target="_blank">
            <img class="h-6" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/Icon-1.svg" alt="Facebook">
          </a>
        </div>
      </div>
      <div class="card bg-white shadow-lg rounded-lg overflow-hidden">
        <div class="team-image-wrapper">
          <img class="team-member-image" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/expert1.png" alt="Faculty Member">
        </div>
        <p class="text-lg text-center font-semibold my-2">
          Davis George
        </p>
        <p class="text-md text-center">
          CEO
        </p>
        <p class="text-sm text-center my-4 ml-5">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
        <div class="flex justify-center">
          <a href="https://www.twitter.com" target="_blank" class="mr-4">
            <img class="h-6" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/Icon.svg" alt="Twitter">
          </a>
          <a href="https://www.facebook.com" target="_blank">
            <img class="h-6" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/Icon-1.svg" alt="Facebook">
          </a>
        </div>
      </div>
      <div class="card bg-white shadow-lg rounded-lg overflow-hidden">
        <div class="team-image-wrapper">
          <img class="team-member-image" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/expert1.png" alt="Faculty Member">
        </div>
        <p class="text-lg text-center font-semibold my-2">
          Davis George
        </p>
        <p class="text-md text-center">
          CEO
        </p>
        <p class="text-sm text-center my-4 ml-5">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
        <div class="flex justify-center">
          <a href="https://www.twitter.com" target="_blank" class="mr-4">
            <img class="h-6" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/Icon.svg" alt="Twitter">
          </a>
          <a href="https://www.facebook.com" target="_blank">
            <img class="h-6" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/Icon-1.svg" alt="Facebook">
          </a>
        </div>
      </div>
      <div class="card bg-white shadow-lg rounded-lg overflow-hidden">
        <div class="team-image-wrapper">
          <img class="team-member-image" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/expert1.png" alt="Faculty Member">
        </div>
        <p class="text-lg text-center font-semibold my-2">
          Davis George
        </p>
        <p class="text-md text-center">
          CEO
        </p>
        <p class="text-sm text-center my-4 ml-5">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
        <div class="flex justify-center">
          <a href="https://www.twitter.com" target="_blank" class="mr-4">
            <img class="h-6" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/Icon.svg" alt="Twitter">
          </a>
          <a href="https://www.facebook.com" target="_blank">
            <img class="h-6" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/Icon-1.svg" alt="Facebook">
          </a>
        </div>
      </div>
      <div class="card bg-white shadow-lg rounded-lg overflow-hidden">
        <div class="team-image-wrapper">
          <img class="team-member-image" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/expert1.png" alt="Faculty Member">
        </div>
        <p class="text-lg text-center font-semibold my-2">
          Davis George
        </p>
        <p class="text-md text-center">
          CEO
        </p>
        <p class="text-sm text-center my-4 ml-5">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
        <div class="flex justify-center">
          <a href="https://www.twitter.com" target="_blank" class="mr-4">
            <img class="h-6" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/Icon.svg" alt="Twitter">
          </a>
          <a href="https://www.facebook.com" target="_blank">
            <img class="h-6" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/Icon-1.svg" alt="Facebook">
          </a>
        </div>
      </div>
      <div class="card bg-white shadow-lg rounded-lg overflow-hidden">
        <div class="team-image-wrapper">
          <img class="team-member-image" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/expert1.png" alt="Faculty Member">
        </div>
        <p class="text-lg text-center font-semibold my-2">
          Davis George
        </p>
        <p class="text-md text-center">
          CEO
        </p>
        <p class="text-sm text-center my-4 ml-5">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
        <div class="flex justify-center">
          <a href="https://www.twitter.com" target="_blank" class="mr-4">
            <img class="h-6" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/Icon.svg" alt="Twitter">
          </a>
          <a href="https://www.facebook.com" target="_blank">
            <img class="h-6" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/Icon-1.svg" alt="Facebook">
          </a>
        </div>
      </div>
      <div class="card bg-white shadow-lg rounded-lg overflow-hidden">
        <div class="team-image-wrapper">
          <img class="team-member-image" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/expert1.png" alt="Faculty Member">
        </div>
        <p class="text-lg text-center font-semibold my-2">
          Davis George
        </p>
        <p class="text-md text-center">
          CEO
        </p>
        <p class="text-sm text-center my-4 ml-5">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
        <div class="flex justify-center">
          <a href="https://www.twitter.com" target="_blank" class="mr-4">
            <img class="h-6" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/Icon.svg" alt="Twitter">
          </a>
          <a href="https://www.facebook.com" target="_blank">
            <img class="h-6" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/Icon-1.svg" alt="Facebook">
          </a>
        </div>
      </div>
      <div class="card bg-white shadow-lg rounded-lg overflow-hidden">
        <div class="team-image-wrapper">
          <img class="team-member-image" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/expert1.png" alt="Faculty Member">
        </div>
        <p class="text-lg text-center font-semibold my-2">
          Davis George
        </p>
        <p class="text-md text-center">
          CEO
        </p>
        <p class="text-sm text-center my-4 ml-5">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
        <div class="flex justify-center">
          <a href="https://www.twitter.com" target="_blank" class="mr-4">
            <img class="h-6" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/Icon.svg" alt="Twitter">
          </a>
          <a href="https://www.facebook.com" target="_blank">
            <img class="h-6" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/Icon-1.svg" alt="Facebook">
          </a>
        </div>
      </div>
      <div class="card bg-white shadow-lg rounded-lg overflow-hidden">
        <div class="team-image-wrapper">
          <img class="team-member-image" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/expert1.png" alt="Faculty Member">
        </div>
        <p class="text-lg text-center font-semibold my-2">
          Davis George
        </p>
        <p class="text-md text-center">
          CEO
        </p>
        <p class="text-sm text-center my-4 ml-5">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
        <div class="flex justify-center">
          <a href="https://www.twitter.com" target="_blank" class="mr-4">
            <img class="h-6" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/Icon.svg" alt="Twitter">
          </a>
          <a href="https://www.facebook.com" target="_blank">
            <img class="h-6" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/Icon-1.svg" alt="Facebook">
          </a>
        </div>
      </div>
      <div class="card bg-white shadow-lg rounded-lg overflow-hidden">
        <div class="team-image-wrapper">
          <img class="team-member-image" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/expert1.png" alt="Faculty Member">
        </div>
        <p class="text-lg text-center font-semibold my-2">
          Davis George
        </p>
        <p class="text-md text-center">
          CEO
        </p>
        <p class="text-sm text-center my-4 ml-5">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
        <div class="flex justify-center">
          <a href="https://www.twitter.com" target="_blank" class="mr-4">
            <img class="h-6" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/Icon.svg" alt="Twitter">
          </a>
          <a href="https://www.facebook.com" target="_blank">
            <img class="h-6" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/Icon-1.svg" alt="Facebook">
          </a>
        </div>
      </div>
      <div class="card bg-white shadow-lg rounded-lg overflow-hidden">
        <div class="team-image-wrapper">
          <img class="team-member-image" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/expert1.png" alt="Faculty Member">
        </div>
        <p class="text-lg text-center font-semibold my-2">
          Davis George
        </p>
        <p class="text-md text-center">
          CEO
        </p>
        <p class="text-sm text-center my-4 ml-5">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
        <div class="flex justify-center">
          <a href="https://www.twitter.com" target="_blank" class="mr-4">
            <img class="h-6" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/Icon.svg" alt="Twitter">
          </a>
          <a href="https://www.facebook.com" target="_blank">
            <img class="h-6" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/Icon-1.svg" alt="Facebook">
          </a>
        </div>
      </div>
    </div>
  </div>
  </div>
{% endblock content %}